# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies,mLM
/node_modules

# testing
/coverage

# production
/build

m mmm.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

